html, body, div{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, button{
    font-family: 'Sniglet', cursive;
}

body{
    background-color: powderblue;
}

.name-container{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    height: 100px;
    background-color: azure;
}

#generate{
    display: block;
    margin: auto;
    width: 25%;
    height: 3em;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: azure;
    font-size: 18px;
    font-style: bold;
}

#generate:active{
    box-shadow: none;
    background-color: darkgray;
}

div{
    display: block;
}